body{
    background: blue;
    margin: 0;
}

header{
    background: #BDBDBD;
}
header h1{
    margin-top: 0;
}
.post{
    width: 500px;
    margin: auto;
}
.post .header{
    background: white;
}
.post .header span{
    float: right;
}
.post .body img{
    width: 100%;
}